#                                               POSTTEST 4

* Nama  : Ananta Yusra Putra Akmal 
* NIM   : 2109106024
* Kelas : A1 2021

* Dataset = Credit Risk

In [121]:
import pandas as pd
import numpy as np

df= pd.read_csv("credit_risk_dataset.csv")

df.describe()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_cred_hist_length
count,32581.000000,3.258100e+04,31686.000000,32581.000000,29465.000000,32581.000000,32581.000000,32581.000000
mean,27.734600,6.607485e+04,4.789686,9589.371106,11.011695,0.218164,0.170203,5.804211
std,6.348078,6.198312e+04,4.142630,6322.086646,3.240459,0.413006,0.106782,4.055001
min,20.000000,4.000000e+03,0.000000,500.000000,5.420000,0.000000,0.000000,2.000000
25%,23.000000,3.850000e+04,2.000000,5000.000000,7.900000,0.000000,0.090000,3.000000
50%,26.000000,5.500000e+04,4.000000,8000.000000,10.990000,0.000000,0.150000,4.000000
75%,30.000000,7.920000e+04,7.000000,12200.000000,13.470000,0.000000,0.230000,8.000000
max,144.000000,6.000000e+06,123.000000,35000.000000,23.220000,1.000000,0.830000,30.000000

In [122]:
df.shape

(32581, 12)

In [123]:
df.tail()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
32576,57,53000,MORTGAGE,1.0,PERSONAL,C,5800,13.16,0,0.11,N,30
32577,54,120000,MORTGAGE,4.0,PERSONAL,A,17625,7.49,0,0.15,N,19
32578,65,76000,RENT,3.0,HOMEIMPROVEMENT,B,35000,10.99,1,0.46,N,28
32579,56,150000,MORTGAGE,5.0,PERSONAL,B,15000,11.48,0,0.10,N,26
32580,66,42000,RENT,2.0,MEDICAL,B,6475,9.99,0,0.15,N,30

# DATA SPLITING

In [124]:
from sklearn.model_selection import train_test_split

X = df.iloc[:, : -1]
y = df.iloc[:, -1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

print("Dimensi X_train", X_train.shape)
print("Dimensi X_test", X_test.shape)
print("Dimensi y_train", y_train.shape)
print("Dimensi y_test", y_test.shape)

Dimensi X_train (22806, 11)
Dimensi X_test (9775, 11)
Dimensi y_train (22806,)
Dimensi y_test (9775,)

# DATA TRANSFORMING
## NORMALISASI

In [125]:

from sklearn.preprocessing import MinMaxScaler
mms = MinMaxScaler()

scaled = df[["person_income"]]
scaled.columns = ["person_income"]

normalization = mms.fit_transform(scaled[["person_income"]])

df_normalization = pd.DataFrame(normalization)
df_normalization.columns =["person_income_normalization"]

scaled = scaled.join(df_normalization["person_income_normalization"]).reset_index()
scaled = scaled.drop("index", axis=1)

scaled.tail()

       person_income  person_income_normalization
32576          53000                     0.008172
32577         120000                     0.019346
32578          76000                     0.012008
32579         150000                     0.024350
32580          42000                     0.006338

# STANDARISASI

In [138]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()


df2 = df.select_dtypes(include='number')
std = ss.fit_transform(df2)
df_std = pd.DataFrame(std)

df_std = ss.fit_transform(
    df[["person_age", "person_income", "person_emp_length", "loan_amnt", "loan_int_rate", "loan_status", "loan_percent_income", "cb_person_cred_hist_length"]]
)

data_standarization = pd.DataFrame(df_std)
data_standarization.head()

,0,1,2,3,4,5,6,7
0,-0.904471,-0.114354,28.904903,4.018287,1.622860,1.890164,3.929865,-0.692614
1,-1.061852,-0.910941,0.056504,-1.359219,0.039983,-0.529055,-0.657707,-0.938982
2,-0.432327,-0.910941,-0.921408,-0.647491,0.601126,1.890164,3.742617,-0.692614
3,-0.747089,-0.009540,-0.187974,4.018287,1.366616,1.890164,3.368121,-0.938982
4,-0.589708,-0.188530,0.789938,4.018287,1.055230,1.890164,3.555369,-0.446246

In [139]:
print("Standar Deviasi : ")
np.std(df_std)

Standar Deviasi :

0.9999999999999999

# DATA CLEANING
## MENANGANI NILAI NULL

In [128]:
df = pd.read_csv("credit_risk_dataset.csv")

df.isna().sum()

person_age                       0
person_income                    0
person_home_ownership            0
person_emp_length              895
loan_intent                      0
loan_grade                       0
loan_amnt                        0
loan_int_rate                 3116
loan_status                      0
loan_percent_income              0
cb_person_default_on_file        0
cb_person_cred_hist_length       0
dtype: int64

### SUBSTITUSI NILAI NULL

In [129]:
df['person_emp_length'] = df['person_emp_length'].fillna(df['person_emp_length'].median())

df.isna().sum()

person_age                       0
person_income                    0
person_home_ownership            0
person_emp_length                0
loan_intent                      0
loan_grade                       0
loan_amnt                        0
loan_int_rate                 3116
loan_status                      0
loan_percent_income              0
cb_person_default_on_file        0
cb_person_cred_hist_length       0
dtype: int64

In [130]:
from sklearn.impute import SimpleImputer
imputer_mean = SimpleImputer(strategy="mean")

df['loan_int_rate'] = imputer_mean.fit_transform(df[['loan_int_rate']])

df.isna().sum()

person_age                    0
person_income                 0
person_home_ownership         0
person_emp_length             0
loan_intent                   0
loan_grade                    0
loan_amnt                     0
loan_int_rate                 0
loan_status                   0
loan_percent_income           0
cb_person_default_on_file     0
cb_person_cred_hist_length    0
dtype: int64

#### Pada data ke empat puluh pada data set terdapat nilai null di kolom loan_int_rate, dan setelah di hilangkan maka nilai tersebut di isi dengan nilai MEAN

In [131]:
df.head(50)

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.020000,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.140000,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.870000,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.230000,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.270000,1,0.55,Y,4
5,21,9900,OWN,2.0,VENTURE,A,2500,7.140000,1,0.25,N,2
6,26,77100,RENT,8.0,EDUCATION,B,35000,12.420000,1,0.45,N,3
7,24,78956,RENT,5.0,MEDICAL,B,35000,11.110000,1,0.44,N,4
8,24,83000,RENT,8.0,PERSONAL,A,35000,8.900000,1,0.42,N,2
9,21,10000,OWN,6.0,VENTURE,D,1600,14.740000,1,0.16,N,3
10,22,85000,RENT,6.0,VENTURE,B,35000,10.370000,1,0.41,N,4
11,21,10000,OWN,2.0,HOMEIMPROVEMENT,A,4500,8.630000,1,0.45,N,2
12,23,95000,RENT,2.0,VENTURE,A,35000,7.900000,1,0.37,N,2
13,26,108160,RENT,4.0,EDUCATION,E,35000,18.390000,1,0.32,N,4
14,23,115000,RENT,2.0,EDUCATION,A,35000,7.900000,0,0.30,N,4
15,23,500000,MORTGAGE,7.0,DEBTCONSOLIDATION,B,30000,10.650000,0,0.06,N,3
16,23,120000,RENT,0.0,EDUCATION,A,35000,7.900000,0,0.29,N,4
17,23,92111,RENT,7.0,MEDICAL,F,35000,20.250000,1,0.32,N,4
18,23,113000,RENT,8.0,DEBTCONSOLIDATION,D,35000,18.250000,1,0.31,N,4
19,24,10800,MORTGAGE,8.0,EDUCATION,B,1750,10.990000,1,0.16,N,2
20,25,162500,RENT,2.0,VENTURE,A,35000,7.490000,0,0.22,N,4
21,25,137000,RENT,9.0,PERSONAL,E,34800,16.770000,0,0.25,Y,2
22,22,65000,RENT,4.0,EDUCATION,D,34000,17.580000,1,0.52,N,4
23,24,10980,OWN,0.0,PERSONAL,A,1500,7.290000,0,0.14,N,3
24,22,80000,RENT,3.0,PERSONAL,D,33950,14.540000,1,0.42,Y,4
25,24,67746,RENT,8.0,HOMEIMPROVEMENT,C,33000,12.680000,1,0.49,N,3
26,21,11000,MORTGAGE,3.0,VENTURE,E,4575,17.740000,1,0.42,Y,3
27,23,11000,OWN,0.0,PERSONAL,A,1400,9.320000,0,0.13,N,3
28,24,65000,RENT,6.0,HOMEIMPROVEMENT,B,32500,9.990000,1,0.50,N,3
29,21,11389,OTHER,5.0,EDUCATION,C,4000,12.840000,1,0.35,Y,2
30,21,11520,OWN,5.0,MEDICAL,B,2000,11.120000,1,0.17,N,3
31,25,120000,RENT,2.0,VENTURE,A,32000,6.620000,0,0.27,N,2
32,26,95000,RENT,7.0,HOMEIMPROVEMENT,C,31050,14.170000,1,0.33,Y,3
33,25,306000,RENT,2.0,DEBTCONSOLIDATION,C,24250,13.850000,0,0.08,N,3
34,26,300000,MORTGAGE,10.0,MEDICAL,C,7800,13.490000,0,0.03,N,4
35,21,12000,OWN,5.0,EDUCATION,A,2500,7.510000,1,0.21,N,4
36,22,48000,RENT,1.0,EDUCATION,E,30000,18.390000,1,0.63,N,2
37,24,64000,RENT,8.0,DEBTCONSOLIDATION,D,30000,14.540000,1,0.47,Y,3
38,25,75000,RENT,4.0,HOMEIMPROVEMENT,D,30000,16.890000,1,0.40,Y,4
39,23,71500,RENT,3.0,DEBTCONSOLIDATION,D,30000,11.011695,1,0.42,N,4
40,26,62050,RENT,6.0,MEDICAL,E,30000,17.990000,1,0.41,N,2
41,24,12000,OWN,4.0,VENTURE,B,2500,12.690000,1,0.21,N,3
42,26,300000,MORTGAGE,10.0,VENTURE,A,20000,7.880000,0,0.07,N,4
43,23,300000,OWN,1.0,EDUCATION,F,24250,19.410000,0,0.08,Y,2
44,26,300000,OWN,9.0,HOMEIMPROVEMENT,B,10000,10.380000,0,0.03,N,4
45,26,300000,MORTGAGE,0.0,EDUCATION,D,25000,15.330000,0,0.08,N,3
46,25,300000,MORTGAGE,9.0,HOMEIMPROVEMENT,E,18000,16.450000,0,0.06,N,3
47,26,80690,RENT,8.0,PERSONAL,A,30000,7.490000,1,0.37,N,3
48,22,66300,RENT,4.0,MEDICAL,B,30000,12.690000,1,0.38,N,3
49,26,89028,RENT,0.0,DEBTCONSOLIDATION,A,30000,6.620000,1,0.34,N,3

# MENANGANI NILAI DUPLIKAT

In [132]:
df[df.duplicated()]

print("Jumlah Data Duplikat : ")
df.duplicated().sum()

Jumlah Data Duplikat :

165

In [133]:
df.drop_duplicates(inplace=True)

print("Jumlah Data Duplikat : ")
df.duplicated().sum()

Jumlah Data Duplikat :

0

# GANTI TIPE DATA

In [134]:
print("tipe data sebelum diubah :")
df.dtypes

tipe data sebelum diubah :

person_age                      int64
person_income                   int64
person_home_ownership          object
person_emp_length             float64
loan_intent                    object
loan_grade                     object
loan_amnt                       int64
loan_int_rate                 float64
loan_status                     int64
loan_percent_income           float64
cb_person_default_on_file      object
cb_person_cred_hist_length      int64
dtype: object

In [135]:
df["person_age"] = df["person_age"].astype("float")
print("tipe data setelah diubah :")
df.dtypes

tipe data setelah diubah :

person_age                    float64
person_income                   int64
person_home_ownership          object
person_emp_length             float64
loan_intent                    object
loan_grade                     object
loan_amnt                       int64
loan_int_rate                 float64
loan_status                     int64
loan_percent_income           float64
cb_person_default_on_file      object
cb_person_cred_hist_length      int64
dtype: object

# ONE-HOT ENCODING

In [136]:
from sklearn.preprocessing import OneHotEncoder
oh_encoder = OneHotEncoder(sparse=False)

onehot = oh_encoder.fit_transform(df[["person_home_ownership"]])
df_onehot = pd.DataFrame(onehot)
df_last = df.join(df_onehot)

df_last.head(10)

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,0,1,2,3
0,22.0,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3,0.0,0.0,0.0,1.0
1,21.0,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2,0.0,0.0,1.0,0.0
2,25.0,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3,1.0,0.0,0.0,0.0
3,23.0,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2,0.0,0.0,0.0,1.0
4,24.0,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4,0.0,0.0,0.0,1.0
5,21.0,9900,OWN,2.0,VENTURE,A,2500,7.14,1,0.25,N,2,0.0,0.0,1.0,0.0
6,26.0,77100,RENT,8.0,EDUCATION,B,35000,12.42,1,0.45,N,3,0.0,0.0,0.0,1.0
7,24.0,78956,RENT,5.0,MEDICAL,B,35000,11.11,1,0.44,N,4,0.0,0.0,0.0,1.0
8,24.0,83000,RENT,8.0,PERSONAL,A,35000,8.90,1,0.42,N,2,0.0,0.0,0.0,1.0
9,21.0,10000,OWN,6.0,VENTURE,D,1600,14.74,1,0.16,N,3,0.0,0.0,1.0,0.0