In [49]:
import pandas as pd
import numpy as np

df= pd.read_csv("credit_risk_dataset.csv")

df.describe()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_cred_hist_length
count,32581.000000,3.258100e+04,31686.000000,32581.000000,29465.000000,32581.000000,32581.000000,32581.000000
mean,27.734600,6.607485e+04,4.789686,9589.371106,11.011695,0.218164,0.170203,5.804211
std,6.348078,6.198312e+04,4.142630,6322.086646,3.240459,0.413006,0.106782,4.055001
min,20.000000,4.000000e+03,0.000000,500.000000,5.420000,0.000000,0.000000,2.000000
25%,23.000000,3.850000e+04,2.000000,5000.000000,7.900000,0.000000,0.090000,3.000000
50%,26.000000,5.500000e+04,4.000000,8000.000000,10.990000,0.000000,0.150000,4.000000
75%,30.000000,7.920000e+04,7.000000,12200.000000,13.470000,0.000000,0.230000,8.000000
max,144.000000,6.000000e+06,123.000000,35000.000000,23.220000,1.000000,0.830000,30.000000

In [50]:
df.shape

(32581, 12)

In [51]:
df.tail()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
32576,57,53000,MORTGAGE,1.0,PERSONAL,C,5800,13.16,0,0.11,N,30
32577,54,120000,MORTGAGE,4.0,PERSONAL,A,17625,7.49,0,0.15,N,19
32578,65,76000,RENT,3.0,HOMEIMPROVEMENT,B,35000,10.99,1,0.46,N,28
32579,56,150000,MORTGAGE,5.0,PERSONAL,B,15000,11.48,0,0.10,N,26
32580,66,42000,RENT,2.0,MEDICAL,B,6475,9.99,0,0.15,N,30

# DATA SPLITING

In [52]:
from sklearn.model_selection import train_test_split

X = df.iloc[:, : -1]
y = df.iloc[:, -1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

print("Dimensi X_train", X_train.shape)
print("Dimensi X_test", X_test.shape)
print("Dimensi y_train", y_train.shape)
print("Dimensi y_test", y_test.shape)

Dimensi X_train (22806, 11)
Dimensi X_test (9775, 11)
Dimensi y_train (22806,)
Dimensi y_test (9775,)

# DATA TRANSFORMING
## NORMALISASI

In [53]:

from sklearn.preprocessing import MinMaxScaler
mms = MinMaxScaler()

scaled = df[["person_income"]]
scaled.columns = ["person_income"]

normalization = mms.fit_transform(scaled[["person_income"]])

df_normalization = pd.DataFrame(normalization)
df_normalization.columns =["person_income_normalization"]

scaled = scaled.join(df_normalization["person_income_normalization"]).reset_index()
scaled = scaled.drop("index", axis=1)

scaled.tail()

       person_income  person_income_normalization
32576          53000                     0.008172
32577         120000                     0.019346
32578          76000                     0.012008
32579         150000                     0.024350
32580          42000                     0.006338

# STANDARISASI

In [54]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()

df2 = df.select_dtypes(include='number')

std = ss.fit_transform(df2)
df_std = pd.DataFrame(std)
df_std.columns = ["person_age", "person_income", "person_emp_length", "loan_amnt", "loan_int_rate", "loan_status", "loan_percent_income", "cb_person_cred_hist_length"]

print("Perbandingan sebelum : ")
np.std(df2)

Perbandingan sebelum :

person_age                        6.347981
person_income                 61982.167945
person_emp_length                 4.142565
loan_amnt                      6321.989624
loan_int_rate                     3.240404
loan_status                       0.412999
loan_percent_income               0.106780
cb_person_cred_hist_length        4.054939
dtype: float64

In [55]:
print("Perbandingan sesudah : ")
np.std(df_std)

Perbandingan sesudah :

person_age                    1.0
person_income                 1.0
person_emp_length             1.0
loan_amnt                     1.0
loan_int_rate                 1.0
loan_status                   1.0
loan_percent_income           1.0
cb_person_cred_hist_length    1.0
dtype: float64

# DATA CLEANING
## MENANGANI NILAI NULL

In [56]:
df = pd.read_csv("credit_risk_dataset.csv")

df.isna().sum()

person_age                       0
person_income                    0
person_home_ownership            0
person_emp_length              895
loan_intent                      0
loan_grade                       0
loan_amnt                        0
loan_int_rate                 3116
loan_status                      0
loan_percent_income              0
cb_person_default_on_file        0
cb_person_cred_hist_length       0
dtype: int64

### SUBSTITUSI NILAI NULL

In [57]:
df['person_emp_length'] = df['person_emp_length'].fillna(df['person_emp_length'].median())

df.isna().sum()

person_age                       0
person_income                    0
person_home_ownership            0
person_emp_length                0
loan_intent                      0
loan_grade                       0
loan_amnt                        0
loan_int_rate                 3116
loan_status                      0
loan_percent_income              0
cb_person_default_on_file        0
cb_person_cred_hist_length       0
dtype: int64

In [58]:
from sklearn.impute import SimpleImputer
imputer_mean = SimpleImputer(strategy="mean")

df['loan_int_rate'] = imputer_mean.fit_transform(df[['loan_int_rate']])

df.isna().sum()

person_age                    0
person_income                 0
person_home_ownership         0
person_emp_length             0
loan_intent                   0
loan_grade                    0
loan_amnt                     0
loan_int_rate                 0
loan_status                   0
loan_percent_income           0
cb_person_default_on_file     0
cb_person_cred_hist_length    0
dtype: int64

# MENANGANI NILAI DUPLIKAT

In [59]:
df[df.duplicated()]

print("Jumlah Data Duplikat : ")
df.duplicated().sum()

Jumlah Data Duplikat :

165

In [60]:
df.drop_duplicates(inplace=True)

print("Jumlah Data Duplikat : ")
df.duplicated().sum()

Jumlah Data Duplikat :

0

# GANTI TIPE DATA

In [61]:
print("tipe data sebelum diubah :")
df.dtypes

tipe data sebelum diubah :

person_age                      int64
person_income                   int64
person_home_ownership          object
person_emp_length             float64
loan_intent                    object
loan_grade                     object
loan_amnt                       int64
loan_int_rate                 float64
loan_status                     int64
loan_percent_income           float64
cb_person_default_on_file      object
cb_person_cred_hist_length      int64
dtype: object

In [62]:
df["person_age"] = df["person_age"].astype("float")
print("tipe data setelah diubah :")
df.dtypes

tipe data setelah diubah :

person_age                    float64
person_income                   int64
person_home_ownership          object
person_emp_length             float64
loan_intent                    object
loan_grade                     object
loan_amnt                       int64
loan_int_rate                 float64
loan_status                     int64
loan_percent_income           float64
cb_person_default_on_file      object
cb_person_cred_hist_length      int64
dtype: object

# ONE-HOT ENCODING

In [63]:
from sklearn.preprocessing import OneHotEncoder
oh_encoder = OneHotEncoder(sparse=False)

onehot = oh_encoder.fit_transform(df[["person_home_ownership"]])
df_onehot = pd.DataFrame(onehot)
df_last = df.join(df_onehot)

df_last.head(10)

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,0,1,2,3
0,22.0,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3,0.0,0.0,0.0,1.0
1,21.0,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2,0.0,0.0,1.0,0.0
2,25.0,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3,1.0,0.0,0.0,0.0
3,23.0,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2,0.0,0.0,0.0,1.0
4,24.0,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4,0.0,0.0,0.0,1.0
5,21.0,9900,OWN,2.0,VENTURE,A,2500,7.14,1,0.25,N,2,0.0,0.0,1.0,0.0
6,26.0,77100,RENT,8.0,EDUCATION,B,35000,12.42,1,0.45,N,3,0.0,0.0,0.0,1.0
7,24.0,78956,RENT,5.0,MEDICAL,B,35000,11.11,1,0.44,N,4,0.0,0.0,0.0,1.0
8,24.0,83000,RENT,8.0,PERSONAL,A,35000,8.90,1,0.42,N,2,0.0,0.0,0.0,1.0
9,21.0,10000,OWN,6.0,VENTURE,D,1600,14.74,1,0.16,N,3,0.0,0.0,1.0,0.0